body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.search {
    display: flex;
    margin-bottom: 20px;
}


button {
    text-align: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
